<launch>
    <machine name="smr14" address="192.168.0.101" env-loader="/home/local/sh/mobotware/ros_link/catkin_ws/envPatrick.sh" user="local" password=" "/>
    <node machine="smr14" name="smr" pkg="smr" type="smr_control"/>

    <include file="$(find my_robot_name_2dnav)/launch/start.launch" />

</launch>