 
<launch>
    
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" output="screen">
    <param name="frame_id" value="scantf" />
    <!--<param name="port" value="/dev/ttyACM0" />-->
    <param name="port" value="/dev/ttyACM3" />
    <param name="publish_intensity" value="true" />
  </node>
  
</launch>
