<?xml version="1.0"?>
<robot name="smr">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.28 .28 .23"/>
      </geometry>
    </visual>
  </link>

 <link name="base_laser">
    <visual>
      <geometry>
        <box size="0.06 .06 .09"/>
      </geometry>
    </visual>
  </link>

<joint name="base_to_laser" type="fixed">
     <parent link="base_link"/>
     <child link="base_laser"/>
     <origin xyz="0.22 0 .25"/>
</joint>


</robot>
